h1 {
    color: rgb(107, 87, 126);
    background-color: rgb(197, 228, 255);
    padding: 15px;
    text-align: center;
    
}

li {
    color: rgb(41, 108, 61);
}

div {
    border: 3px solid ;
    border-radius: 30px;
    padding : 20px;
    margin: 10px ;
}